// Buttons
// -----------------------------------------------------
.btn {
    border: none;
}

.btn-sm {
    font-size: $font-size-base;
}

.btn-lg {
    @include button-size(($padding-large-vertical * 1.2), ($padding-large-horizontal * 3), $font-size-base, $line-height-large, 0);
}

// Technologies

.panel-body {
    
    div {
        text-align: center;
    }
    
    .btn-sm {
        padding: ($padding-small-vertical * 1.3) ($padding-small-horizontal * 4);
    }
}